@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}/* *  Universal selecter */

*:focus {
    outline: none;
}  /*it will hide input-border  outline when we select input  */
html{
	scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}  /* font family is same on whole page */
header{
    width: 100%;
    height: 70px;
    margin: auto;
    background-color:#575b6269;
    display: flex;
   position: fixed;
    justify-content: center;
    
}	/*header position is fixed in every page*/

.hedr {
    width: 80%;
    height: 70px;
    margin: auto;
   
    background:#575b626f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}


nav>ul {
    display: flex;  /*we use flex in nav bar under ul*/
    list-style: none;
    padding: 10px;
	margin:15px auto;
	
}

hr {
    border: none;
}

li:hover hr {
    border: 0;
    border-top: 3px solid rgb(0, 255, 217);
    margin-top: 7px;
    animation: left-right 0.5s 1;

}/*when we hover on nav list then line will appear */
@keyframes left-right {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }

}

/*a tag is targeted here in unorderd list */
ul>li>a {
    margin: 0px 20px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 250, 250);
    font-size: 22px;
}

/*here logo css*/
.logo {
    color: rgb(255, 255, 255);
    align-self: center;
    font-weight: bold;
    font-size: 25px;

}

.img_tag {
    width: 100%;
    height: 100%;

}
/*this image will appear in container class */
.img_cont {
   /*  background-image: url("https://source.unsplash.com/featured?technology"); */
    /* background-image: url("snapdeal.jpg"); */
    background-repeat: no-repeat;
    width: 70%;
    height: 600px;
    background-size: 100% 600px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-self: end;
	animation:bg-img 10s 0s linear infinite;

}
@keyframes bg-img{
	0%{
		background-image: url("images/snapdeal.jpg");
	}
	25%{
		background-image: url("images/Computer.jpg");
	}
	50%{
		background-image: url("images/Computer1.png");
	}
	75%{
		background-image: url("images/Computer2.avif");
	}
	75%{
		background-image: url("6-1/11336.jpg");
	}
}
/*cont_img tag is used for content will show on image*/
.cont_img {
    color: white;
    letter-spacing: 3px;
    font-size: 25px;
    word-spacing: 2px;

}
/*css for categries of all type of item
categries_item box have 100% width. under this box item_list class have 70% width*/
 
.categries_item {
    width: 100%;
    height: 180px;

    margin: 1% 0;
    padding: 10px;


}
/*css for categries of all type of item list */
.item_list {
    width: 70%;
    height: 100%;
    box-shadow: 5px 8px 12px 4px rgba(40, 108, 128, 0.72);
    display: flex;
    margin: auto;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px;


}

.item {
    width: 50%;
    height: 140px;
    text-transform: capitalize;
    text-align: center;
}
/*css for products  have 100% width
product_item box have 70% width*/
.products {
    width: 100%;
    margin: auto;
    height: auto;

    padding: 40px 0;


}
.product_item_deal {
    width: 70%;
    display: flex;
    
    margin: 20px auto;
    
   flex-wrap:wrap;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.11);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 8px 12px 4px rgba(40, 107, 128, 0.557);


}
.product_item {
    width: 70%;
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.11);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 8px 12px 4px rgba(40, 107, 128, 0.557);


}
/*product_item1 is for laptop section */
.product_item1 {
    width: 70%;
    display: flex;
   
    margin: 20px auto;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.11);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 8px 12px 4px rgba(40, 107, 128, 0.557);

}

.center_item_hed {
    width: 100%;
    justify-content: center;
    font-weight: bolder;
    margin: auto;
    box-shadow: none;
    font-size: 30px;
}

.pro_itm {

    width: 200px;
    height: 20%;
    margin: 10px auto;


    text-align: center;

}

.pro_itm1 {

    width: 200px;
    height: 20%;
    margin: 10px auto;

    text-align: center;





}

.pro_itm1>img {
    align-self: center;
    padding: 10px;
}
/*footer part starts from here*/
footer{
    width: 100%;
    height: 600px;
    background-color: rgba(35, 102, 225, 0.944);
    margin: 5px auto;
    display: flex;
}

.foot {
    width: 70%;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    margin: 5px auto;
    display: flex;
}

.foot_box1 {
    width: 30%;
    margin: auto;
   

}
.foot_box2 {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;

}

.box1_cont {
    width: 50%;
    color: rgb(0, 0, 0);
   font-weight: 800;
    margin: 15% auto;
    
}

.box1_cont ul li {
   list-style: none;
    text-transform: capitalize;
    padding: 5px 0;
}

.info>ul {
  
    margin: 10px 0;
    text-transform: capitalize;
}

.cpyright {
    color: white;
    text-align: center;
}

.sgn {
    width: 100%;
    margin: auto;
    height: auto;

    padding: 40px 0;
}

.sign_in_box {
    width: 30%;
    display: flex;
    justify-content: center;
    margin: auto;
    box-shadow: 5px 8px 12px 4px rgba(40, 108, 128, 0.72);
    background-color: white;
    padding: 5px;
    border-radius: 10px;

}

.sign_up_box {
    width: 35%;
    display: flex;
    justify-content: center;
    margin: auto;
    box-shadow: 5px 8px 12px 4px rgba(40, 108, 128, 0.72);
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}

.fom {
    width: 90%;
    padding: 20px;

}

.sign_hed {
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    margin: 30px auto;
}

.social_media {
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: center;
    padding: 20px;
}

.ur_mail {
    font-size: 20px;
    margin: 10px 0;

}

.user_inp>.usr_inp_text {
    height: 30px;
    width: 100%;
    border-width: 0px 0px 1px 0px;

}

.pwd_inp>.pwd_inp_email {
    height: 30px;
    width: 100%;
    border-width: 0px 0px 1px 0px;
}

.sub {
    display: flex;
    justify-content: center;
}

.sub_inp>.sub_inp_btn {
    padding: 15px;
    background: linear-gradient(49deg, rgba(15, 210, 222, 1) 0%, rgba(38, 97, 172, 1) 34%, rgba(235, 0, 255, 1) 100%);
    margin: 20px;
    border: none;
    color: white;
    width: 150px;
    font-size: 20px;
    border-radius: 10px;

}

.sub_inp>.sub_inp_btn:hover {
    box-shadow: 5px 8px 12px 4px rgba(40, 108, 128, 0.72);
    transition-duration: 0s;

}

.sig_up_using {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.using_sign_hed {
    width: 100%;
    font-family: sans-serif;
    margin: 10px auto;
    color: #228B22;
    text-align: center;
    font-size: 25px;
    max-width: 100%;
    position: relative;
}

.using_sign_hed:before {
    content: "";
    display: block;
    width: 29%;
    height: 5px;
    background: #191970;
    left: 0;
    top: 50%;
    position: absolute;
}

.using_sign_hed:after {
    content: "";
    display: block;
    width: 29%;
    height: 5px;
    background: #191970;
    right: 0;
    top: 50%;
    position: absolute;
}

.fb,
.twt,
.linkin,
.insta {
    padding: 0 15px;
}

.column1 {
    float: left;
    width: 16.66%;
}


.tooltip {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.446);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}
.row{
	display:flex;
	width:100%;
	
}

.sub_inp:hover .tooltip {
    visibility: visible;
}

.direct_sign>a {
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: black;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff82;
    width: 40%;
    top: 50px;
    box-shadow: 0px 8px 16px 0px rgba(255, 251, 251, 0.2);
    z-index: 1;
    height: 25%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Create three equal columns that floats next to each other */
.column {

    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.913);
    height: 20%;
    
}

.column a {
    font-size: 20px;
    color: rgb(6, 6, 6);
    padding: 16px;
    text-decoration: none;
    display: flex;
    text-align: left;
}

.column a:hover {
    background-color: rgba(133, 127, 218, 0.177);
}


.drop_hed {
    font-size: 25px;
    background-color: rgba(175, 60, 60, 0.348);
    text-align: center;
}



/* css by himanshu and vishwas */

.contactform {
 
    width: 100%;
    display: flex;
    background-repeat: no-repeat;
    padding: 40px;


}


.leftside {
    width: 40%;
   margin: 0px 30px 0px 0px ;
}

.contactform .rightside {
    width: 60%;
   font-size: 20px;
    margin: auto;
}




.contactform .rightside input[type=text],
textarea {
    border-top: none;
    border-right: none;
    border-left: none;
    background: transparent;
    margin: 10px 10px 10px 0px;
    padding-bottom: 5px;
    width: 90%;
}

.button {
    text-align: center;
    width: 50%;
    height: 30px;
    background-color: brown;
    border-radius: 20px;
    border: none;
    font-size: large;
    color: rgba(25, 162, 238, 1.0); 
    
    /* Created with https://www.css-gradient.com */

}
.call_us{
    margin: 20px auto;
    font-size: 16px;
}
.mail_us{
    margin: 20px auto;
    font-size: 16px;
}
.location{
        line-height: 30px;
}
.offer_col{
    color: #228B22;
    font-weight: bolder;
}
/* .js_show{
    display: none;
   
}
.show:hover .js_show{
    display: flex;
      
} */